h1{
  color: black;
  margin: 20px;
  font-family: 'Coda Caption', sans-serif;
}
.grid-item {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 200px;
    border: black;
    padding: 5px 5px;
    margin: 10px;
    border: 2px solid black;
    background-color: black;
    font: white;
    font-family: 'Gaegu', cursive;
}

/* Add rounded corners to the top left and the top right corner of the image */
.homePagePics {
    height: 306px;
    width: 200px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
/* Button on home page to go to pickTeam */
.pick-button {
  background-color: black;
  color: white;
  border: 2px solid black;
  width: 200px;
  margin: 17px;
  line-height: 20px;
  text-align: center;
  font-family: 'Gaegu', cursive;
  border-radius: 5px; /* 5px rounded corners */
}

.teambox{
  border: 2px solid black;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  align-items: center;
  padding: 5px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  font-family: 'Gaegu', cursive;
}

.allPlayerPos{
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  font-size: 15px;
  text-align: center;
  color: darkgray;
  margin: 10px 0;
  align-self: center;
  max-width: 150px;
  font-family: 'Gaegu', cursive;
}

.blank{
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  height: 77px;
  width: 50px;
  padding: 0px;
}

/* players under labels */
.one{
  grid-column: 5 / span 4;
  grid-row: 1;
}
.two{
  grid-column: 9 / span 4;
  grid-row: 1;
}
.three{
  grid-column: 13 / span 4;
  grid-row: 1;
}
.four{
  grid-column: 7 / span 4;
  grid-row: 2;
}
.five{
  grid-column: 11 / span 4;
  grid-row: 2;
}
.six{
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
.seven{
  grid-column: 17 / span 4;
  grid-row: 1 / span 2;
}
.eight{
  grid-column: 9 / span 4;
  grid-row: 3;
}
.nine{
  grid-column: 6 / span 4;
  grid-row: 4 / span 2;
}
.ten{
  grid-column: 10 / span 4;
  grid-row: 5 / span 2;
}
.eleven{
  grid-column: 1 / span 4;
  grid-row: 8 / span 2;
}
.twelve{
  grid-column: 14 / span 4;
  grid-row: 6 / span 2;
}
.thirteen{
  grid-column: 18 / span 4;
  grid-row: 7 / span 2;
}
.fourteen{
  grid-column: 22 / span 4;
  grid-row: 8 / span 2;;
}
.fifteen{
  grid-column: 10 / span 4;
  grid-row: 9 / span 2;
}
.submit{
  font-size: 15px;
  grid-column: 1 / span 4;
  grid-row: 10 / span 1;
  background-color: black;
  color: white;
  border: 2px solid black;
  width: 200px;
  margin: 17px;
  line-height: 20px;
  text-align: center;
  font-family: 'Gaegu', cursive;
  border-radius: 5px; /* 5px rounded corners */
}

.allTeamHeadings{
  /* border: 2px solid red; */
  font-family: 'Coda Caption', sans-serif;
  margin-bottom: 10px;
}

.coachTeamHeading{
  border: 2px solid black;
  font-size: 15px;
  display: inline;
  padding: 5px;
}

.myTeamHeading{
  border: 2px solid black;
  font-size: 15px;
  display: inline;
  margin-left: 100px;
  padding: 5px;
}

.teamScore{
  font-family: 'Gaegu', cursive;
  margin: 20px;
  font-size: 30px;
}

.allPlayers{
  display: flex;
  flex-wrap: wrap;
}

.allCoachPlayers{
  /* border: 2px solid black; */
  width: 140px;
  font-family: 'Gaegu', cursive;
  margin-left: 5px;
}

.coachPlayers{
  font-family: 'Gaegu', cursive;
}

.allSelectedPlayers{
  /* border: 2px solid black; */
  width: 200px;
  font-family: 'Gaegu', cursive;
}

.selectedPlayers{
  font-family: 'Gaegu', cursive;
}

.trueFalse{
  /* border: 2px solid black; */
  width: 100px;

}

.matchedPlayers{
  font-family: 'Gaegu', cursive;
  color: red;
}

.compareteam{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.playercompare{
  min-width: 150px;
  min-height: 150px;
  border: 2px solid black;
  padding: 10px;
}